/*
* Responsi.ve V0.1
* Copyright 2014, RubinoNero SmartWebDesign
* www.responsi.ve.it
* Based on Skeleton (www.getskeleton.com)
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 10/02/2014
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

.panel
{
	border: 1px solid #eee;
	background-color: #f6f6f6;
	padding:.3rem;
	margin-bottom: 1rem !important;
}

.panel  h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6
{

	background-color: gainsboro;
	margin: -.3rem;
	padding:.3rem;
	padding-bottom: .1rem;
	margin-bottom: .3rem;
}


.tab
{
	display: none;

}

.tab-container
{
	padding-top: .6rem;
	 margin-top: -33px;
}

.tab-nav li
{
	display: inline-block;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #f6f6f6;
	border: 1px solid gainsboro;
	
	border-right-color: silver;
	color: gray;
	padding: .4rem;
}

.tab-nav a
{
	color: grey !important;
}

.tab-active
{
	border-bottom-color: #f6f6f6 !important;
	
}

.tab-active a
{
	color: black !important;
	text-decoration: none;
}


/* #Media Queries
================================================== */
 	
 	/* Smaller than standard 1024 (devices and browsers) */
 	@media only screen and (max-width: 1023px){}

 	/* standard 960 to standard 1024(devices and browsers) */
 	@media only screen and (min-width: 960px) and (max-width: 1023px){}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

